<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>venus</display-name>
  
  <servlet>
    <servlet-name>HelloWorldExample</servlet-name>
    <servlet-class>com.enjoy.venus.admin.HelloWorldExample</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Rest</servlet-name>
    <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
    <init-param>
      <param-name>org.restlet.application</param-name>
      <param-value>com.enjoy.venus.admin.RestApp</param-value>
    </init-param>
  </servlet>
  
<!--  
 <servlet>
	<servlet-name>openfire</servlet-name>
	<servlet-class>com.enjoy.venus.proxy.openfireProxyServlet</servlet-class>
	<load-on-startup>1</load-on-startup>
  </servlet>
-->	
	
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.gif</url-pattern>
    <url-pattern>*.js</url-pattern>
    <url-pattern> *.html</url-pattern>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
	
	
  <servlet-mapping>
    <servlet-name>Rest</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  
  <!--  
	  <servlet-mapping>
	    <servlet-name>openfire</servlet-name>
	    <url-pattern>/openfire/*</url-pattern>
	  </servlet-mapping>
  -->
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>